*.apk
*.ap_
*.dex
*.class
bin/
gen/
*.iml
proguard/
proguard-project.txt
.project
.classpath
.settings/
.idea
.gradle/
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
